body{
   background: linear-gradient(to bottom, #30a634, #2c8c2f);
   min-height: 700px;
}
main{
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
}
.firstchild img{
   height: 180px;
   width: 170px ; 
}
.secondchild{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
.secondgrandchild{
   display:flex;
   gap:10px;
}
.firstchild{
   display: flex;
   justify-content: center;
}
.firstgrandchild{
   display: flex;
   justify-content: center;
   font-family: "poppins", sans-serif;
   font-weight: 600;
}
.secondgrandchild{
   display: flex;
   justify-content: center;
   font-family: "poppins", sans-serif;
}
.parent{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   border: solid;
   border-width: 5px;
   border-radius: 10px;
   gap: 10px;
   height:280px;
   width:280px;
   margin: 10px;
  
}
#pokemon-card{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   
}
#heading{
   max-width: 70rem;
}
#main-heading{
   font-family:  "orbitron", sans-serif;
   font-size: 60px;
   font-weight: 900;
    background: linear-gradient(to right, #F8F8FF, #C0C0C0);
    display: flex;
    justify-content: center;
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}
#sub-heading{
   background: linear-gradient(to right,  #F8F8FF, #C0C0C0);

   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   font-family:  "orbitron", sans-serif;
   font-size: 34px;
   font-weight: 600;
   display: flex;
    justify-content: center;
}
.search-container{
   background-color:#30a634;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
     gap:10px;
     padding: 0.75rem;
     border-radius:0.625rem ;
}
.pokemon{
   font-size: 1rem;
    width: 15rem;
    color: rgb(17, 17, 17);
    background-color: rgba(255, 255, 255, 0.894);
    height: 3rem;
    padding: 0px 0.75rem;
    border-radius: 0.625rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(232, 232, 232, 0.835);
    border-image: initial;
    outline: none;
}
#context{
   color: rgb(250, 248, 248);
   font-size: 1.3rem;
   font-weight: 540;
   font-family:"Poppins", sans-serif;
   padding: 10px;
   padding-bottom: 20px;
   letter-spacing: -0.2px;
   margin: 0px;
}
#outer-bound{
   
}
nav{
   position:sticky;
    top:0;
    z-index: 3;
}
.navbar{
   display: flex;
   justify-content: space-between;
   backdrop-filter: blur(6px);
}
.logo{
   font-size: 2rem;
   color: aliceblue;
   font-weight: 900;
   margin: 0px;
   font-family:"orbitron", sans-serif;
}
.logo-secondpart{
   font-family:"orbitron", sans-serif;
   position: relative;
 text-decoration: none;
 color: #d47714; 
 padding-bottom: 1px;
  
}
.logo-secondpart::after{
   content: "";
 position: absolute;
 bottom: 0;
 width: 0%;
 height: 2px;
 left: 50%;
transform: translateX(-50%);
 background: linear-gradient(90deg, #de7b18, #c38e12);
 transition: width 0.4s cubic-bezier(.4,0,.2,1);
}
.logo-secondpart:hover::after{
   height: 2px;
   width: 100%;
}
.button1{
   color: #161616;
   font-family:"Poppins", sans-serif;
   border-radius: 0.8rem;
   font-size: 1.125rem;
   margin-top: 20px;
   margin-bottom: 20px;
   font-weight: 600;
    cursor: pointer;
    padding: 0.7rem 1.5rem;
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: aliceblue;
   
    
}
.button1:hover{
   background-color: #fff;
   border-color: #fff;
   box-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
}
#buttons{
   margin-top: 13px;
}
#but{
   color: #161616;
   font-family:"Poppins", sans-serif;
   font-style: italic;
   border-radius: 0.6rem;
   font-size: 1.125rem;
   font-weight: 600;
    cursor: pointer;
    padding: 0.7rem 1.5rem;
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: aliceblue;
}
#but:hover{
   background-color: #fff;
   border-color: #fff;
   box-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
}
.footer{
   display: flex;
  justify-content: center;
  font-family: "poppins",sans-serif;
  font-size: 14px;
  color: aliceblue;
}
#loader{
   margin-top: 20px;
   display: flex;
   flex-direction: column;
}
.img-ball{
   display: flex;
   justify-content: center;
}
.loader{
   position: relative;
   animation: loader 1s ease-in-out infinite;
}
@keyframes loader {
    0%   { top: 0px; }
    25%  { top: -10px; }
    /* 50%  { top: 0px; } */
    75%  { top: 5px; }
    100% { top: 0px; }
}
.loading-txt{
   margin-top: 20px;
   font-size: 1.25rem;
   font-family: "space grotesk",sans-serif;
   color: aliceblue;
   font-weight: 500;
   position: relative;
    animation: loading-txt 1s ease-in-out infinite;
}
@keyframes loading-txt {
    0%, 100% { opacity: .5; }
    50% { opacity: 1; }
}
@media only screen and (max-width: 914px) {
 #pok4{
   height: 210px;
   width: 200px;
 }
 #pok6{
   height: 210px;
   width: 200px;
 }
 #pok7{
   height: 210px;
   width: 200px;
 }
 #main-heading{
   font-size: 50px;
 }
 #sub-heading{
   font-size: 30px;
 }
 #context{
   font-size: 1.1rem;
 }
}
@media only screen and (max-width: 831px) {
  #main-heading{
   font-size: 45px;
 }
 #pokemon-type{
   width: 12rem;
 }
  #pokemon-number{
   width: 12rem;
 }
 .pokemon{
   width: 12rem;
 }
  #context{
   font-size: 1.08rem;
 }
}
@media only screen and (max-width: 748px) {
  #main-heading{
   font-size: 41px;
 }
 #sub-heading{
   font-size: 27px;
 }
  #context{
   font-size: 1.05rem;
 }
}
@media only screen and (max-width:687px) {
  #main-heading{
   font-size: 39px;
 }
 #sub-heading{
   font-size: 25px;
 }
  #context{
   font-size: 1.04rem;
 }
 #pokemon-type{
   width: 90%;
 }
  #pokemon-number{
   width: 90%;
 }
 #but{
   width: 50%;
    font-size: 1.02rem;
 }
     #pok4{
   height: 180px;
   width: 180px;
 }
 #pok6{
   height: 190px;
   width: 190px;
 }
 #pok7{
   height: 190px;
   width: 180px;
 }
 .logo{
   font-size: 1.7rem;
 }
 .button1{
   font-size:  1.1rem;
 }
}
@media only screen and (max-width:650px) {
  #main-heading{
   font-size: 35px;
 }
 #sub-heading{
   font-size: 23px;
 }
  #context{
   font-size: 1.0rem;
 }
}

@media only screen and (max-width:591px) {
 .logo{
   font-size: 1.5rem;
 }
 .button1{
   font-size: 0.9rem;
 }
  #pok4{
   height: 160px;
   width: 160px;
 }
 #pok6{
   height: 170px;
   width: 170px;
 }
 #pok7{
   height: 170px;
   width: 170px;
 }
 #main-heading{
   font-size: 31px;
 }
 #sub-heading{
   font-size: 22px;
 }
 #context{
   font-size: 0.9rem;
  }
 .footer{
   font-size: 11px;
     margin-top: 70px;
 }
}
@media only screen and (max-width: 524px) {
   #pok4{
   height: 130px;
   width: 130px;
 }
 #pok6{
   height: 140px;
   width: 140px;
 }
 #pok7{
   height: 140px;
   width: 140px;
 }
  .logo{
   font-size: 1.2rem;
 }
 .button1{
   font-size: 0.7rem;
 }
 #main-heading{
   font-size: 29px;
 }
 #sub-heading{
   font-size: 21px;
 }
 #context{
   font-size: 0.8rem;
 }
}
@media only screen and (max-width: 434px) {
  #pok4{
   height: 100px;
   width: 100px;
 }
 #pok6{
   height: 110px;
   width: 110px;
 }
 #pok7{
   height: 110px;
   width: 110px;
 }
 .logo{
   font-size: 1rem;
 }
 .button1{
   font-size: 0.6rem;
 }
  .footer{
   font-size: 9px;
 }
 
  #main-heading{
   font-size: 27px;
 }
 #sub-heading{
   font-size: 20px;
 }
 #context{
   font-size: 0.8rem;
}
}
@media only screen and (max-width: 398px) {
  #pok4{
   height: 90px;
   width: 90px;
 }
 #pok6{
   height: 100px;
   width: 100px;
 }
 #pok7{
   height: 100px;
   width: 100px;
 }
 .logo{
   font-size: 0.8rem;
 }
 .button1{
   font-size: 0.4rem;
   padding: 0.5 1.3;
   margin-top: 10px;
      margin-bottom: 10px;
 }
  .footer{
   font-size: 8px;
 }
  #main-heading{
   font-size: 25px;
 }
 #sub-heading{
   font-size: 18px;
 }
 #context{
   font-size: 0.7rem;
 }
 #buttons{
   margin-top: 3px;
 }
 #but{
   width: 50%;
    font-size: 1rem;
 }
 .navbar{
   overflow: hidden;
 }
}